asgiref==3.2.7
beautifulsoup4==4.9.1
defusedxml==0.6.0
Django==3.0.6
django-debug-toolbar==2.2
et-xmlfile==1.0.1
grab==0.6.41
jdcal==1.4.1
lxml==4.5.1
mysqlclient==1.4.6
openpyxl==3.0.3
pycurl==7.43.0.5
pytils==0.3
pytz==2020.1
selection==0.0.14
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
user-agent==0.1.9
weblib==0.1.30
